/AulaJDBC/nbproject/private/
/AulaJDBC/build/
/AulaJDBC/dist/
/Bug =Tracker/Bug Tracker/JavaBugTracker/nbproject/private/
/BugTracker/Bug Tracker/JavaBugTracker/nbproject/private/
/Bug Tracker/JavaBugTracker/nbproject/private/
/JavaBugTracker/nbproject/private/
/BugTracker/nbproject/private/
/BugTracker/build/
/BugTracker/dist/
/PadraoProjetos/build/
/AntiCataclismCloudSystem/build/
/AntiCataclismCloudSystem/dist/
/Processador de Imagens/build/
/Processador de Imagens/nbproject/private/
/OrdenacaoComStrategy/build/
/AulaThreads/nbproject/private/
/AulaThreads/build/